body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fff0f5;
  color: #333;
}

section {
  padding: 60px 20px;
  text-align: center;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero span {
  color: #e63946;
}

.scroll {
  text-decoration: none;
  margin-top: 20px;
  color: #555;
}

.timeline .event {
  background: white;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  width: 70%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 15px;
}

.card {
  background: #ffe4e9;
  padding: 20px;
  border-radius: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 700px;
  margin: 0 auto;
}

.gallery img {
  width: 100%;
  height: 200px;          /* SAME HEIGHT for all */
  object-fit: cover;     /* crops nicely */
  border-radius: 15px;
}


.letter p {
  max-width: 600px;
  margin: auto;
  font-size: 1.1rem;
}

.final button {
  background: #e63946;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
}

/* LOCK SCREEN */
#lockScreen {
  position: fixed;
  inset: 0;
  background: #fff0f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  display: none;
}

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
